.post-detail-page {
  max-width: 1560px;
  margin: 0 auto;
}

.post-detail-header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.header-left {
  display: flex;
  align-items: center;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.divider {
  margin: 0 10px;
  color: #999;
}

.public-status {
  font-size: 14px;
  color: #999;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-button:hover,
.delete-button:hover {
  color: #333;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.tags {
  display: flex;
  margin-bottom: 5px;
}

.tags span {
  color: #666;
  margin-right: 10px;
}

.like-button-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-bottom: 5px;
}

.like-button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  color: #333;
  cursor: pointer;
}

.like-button:hover {
  background-color: #f0f0f0;
}

.post-info {
  color: #666;
  font-size: 14px;
}

/* 본문 영역 */
.post-content {
  max-width: 780px;
  margin: 20px auto;
  text-align: left;
}

.post-image {
  width: 100%;
  max-width: 100%;
  height: 780px;
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.post-text {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
  line-height: 1.6;
}

/* 비밀번호 확인 페이지 스타일 추가 */
.password-check-page {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.password-check-page input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.password-check-page button {
  background-color: #282828;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}
